
.capa {

  width: 500px;
  height: 700px;
  background-color: #bbb8b8;
  border: 1px solid #ccc;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.titulo {
  font-size: 36px;
  margin-bottom: 20px;
}

.autor {
  font-size: 24px;
}
